.button {

    -fx-font-weight: bold;
    -fx-background-color: #4b1616;
    -fx-border-color: #000000;
    -fx-border-radius: 5px; /* Bordo arrotondato */
    -fx-background-radius: 5px; /* Background arrotondato */
    -fx-padding: 5px; /* Padding ridotto */
    -fx-text-fill: #b6b28d; /* Colore testo */
}

.choice-box {
    -fx-font-weight: bold;
    -fx-background-color: #4b1616;
    -fx-border-color: #000000;
    -fx-border-radius: 5px; /* Bordo arrotondato */
}

.choice-box .label {
    -fx-text-fill: #b6b28d;
}

.button:hover {
    -fx-background-color: #8a4242;
    -fx-border-color: #000000; /* Assicurati che i bordi siano gli stessi */
    -fx-border-radius: 5px; /* Assicurati che il bordo arrotondato sia lo stesso */
    -fx-background-radius: 5px; /* Assicurati che il background arrotondato sia lo stesso */
    -fx-padding: 5px; /* Assicurati che il padding sia lo stesso */
}

.cardshape {
    -fx-opacity: 0.5;

}

.cardshape:hover {
    -fx-opacity: 1;
}

.clickable:hover {
    -fx-opacity: 0.5;
}

.placed_card {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

